<!DOCTYPE html>
<html lang="en">
<head>

    <% include partials/head.ejs %>

    <script type="text/javascript" src="/javascripts/datatables-1.10.15.min.js"></script>

    <link type="text/css" href="/stylesheets/datatables-1.10.15.min.css">

</head>
<body>

<div id="wrapper">

    <% include partials/navbar.ejs %>

    <div id="page-wrapper">

        <div class="row">

            <div class="col-lg-12">

                <h1>Tour Companies</h1>

                <table id="tour_companies_table" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Address</th>
                        <th>Logo</th>
                        <th>Description</th>
                        <th>Telephone</th>
                        <th>Email</th>
                        <th>Website</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Comments</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% tour_companies.forEach(function(tourCompany){ %>
                    <tr>
                        <td><a href="/admin/tour_companies/edit/<%= tourCompany._id %>"><%= tourCompany._id %></a></td>
                        <td><%= tourCompany.title %></td>
                        <td><%= tourCompany.address %></td>
                        <td><a href="<%= tourCompany.logo.path %>"><%= tourCompany.logo.name %></a></td>
                        <td><%= tourCompany.description %></td>
                        <td><%= tourCompany.telephone %></td>
                        <td><%= tourCompany.email %></td>
                        <td><%= tourCompany.website %></td>
                        <td><%= place.coordinates.lat %></td>
                        <td><%= place.coordinates.lng %></td>
                        <td><%= place.comments %></td>
                        <td>
                            <a href="/tour_companies/delete/<%= tourCompany._id %>">delete</a>
                            <a href="/admin/tour_companies/edit/<%= tourCompany._id %>">edit</a>
                        </td>
                    </tr>
                    <% }); %>
                    </tbody>
                </table>

            </div>

            <!-- /.row -->
        </div>

        <a class="btn btn-default" href="/admin/tour_companies/new">Add Tour Company</a>

    </div>
    <!-- /#page-wrapper -->
</div>

<script>
    $(document).ready(function () {
        $('#tour_companies_table').DataTable();
    });
</script>
</body>
</html>
